{
	email cart@rhdesign.dk
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

*.int.rhdesign.dk {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1 8.8.8.8
		propagation_timeout 5m
	}

	@auth host auth.int.rhdesign.dk
	handle @auth {
		reverse_proxy 192.168.1.149:9000
	}

	@git host auth.int.rhdesign.dk
	handle @git {
		reverse_proxy 192.168.1.203:3000
	}

	@bs host bs.int.rhdesign.dk
	handle @bs {
		reverse_proxy 192.168.1.137:3030
	}

	@uptime host uptime.int.rhdesign.dk
	handle @uptime {
		reverse_proxy uptime-kuma:3001
	}

	@portainer host portainer.int.rhdesign.dk
	handle @portainer {
		reverse_proxy https://192.168.1.56:9443 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@pv1 host pv1.int.rhdesign.dk
	handle @pv1 {
		reverse_proxy https://192.168.1.41:8006 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@gw host gw.int.rhdesign.dk
	handle @gw {
		reverse_proxy https://192.168.1.1:443 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	handle {
		respond "Unknown subdomain" 404
	}
}
